/*  Table des contenu  */
/*                     */
/* 1 | GLOBAL          */
/* 2 | HEADER          */
/* 3 | NAVBAR          */
/* 4 | MAIN            */
/* 5 | ARTICLE         */
/* 6 | FOOTER          */
/* 1 | GLOBAL          */
* {
  margin: 0;
}

body {
  background-color: #F6F6F6;
}

/* 2 | HEADER          */
header {
  /* 3 | NAVBAR          */
}
header nav {
  max-width: 100%;
  background-color: #1B2430;
}
header nav div {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
}
header nav div li {
  list-style: none;
}
header nav div li a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 2.5rem 1rem;
}
header nav div li a:hover {
  text-decoration: underline;
}
header nav div ul {
  padding: 0;
  display: flex;
  align-items: center;
}
header .terre {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* 4 | MAIN            */
main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  /* 5 | ARTICLE         */
}
main .tellurique,
main .gazeuse {
  margin: auto;
  max-width: 1200px;
}
main div .articledroite {
  display: flex;
}
main div .articledroite .bouton {
  display: flex;
}
main .articlegauche {
  display: flex;
  flex-direction: row-reverse;
}
main .articlegauche .bouton {
  display: flex;
}

article {
  margin: 2rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
article div {
  max-width: 770px;
}
article div h2 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
}
article .bouton3 {
  box-shadow: 0px 5px 5px rgb(138, 138, 138);
  background-color: #816797;
  color: #FFFFFF;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem 0.75rem;
}
article .bouton1 {
  box-shadow: 0px 5px 5px rgb(138, 138, 138);
  background-color: #D6D5A8;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 1rem 0.75rem;
}
article .bouton2 {
  color: #FFFFFF;
  border-radius: 10px;
  background-color: #1B2430;
  padding: 1rem 0.75rem;
  box-shadow: 0px 5px 5px rgb(138, 138, 138);
}
article img {
  width: 300px;
}
article .texte {
  text-align: justify;
}

.leh2 {
  margin: auto;
  text-transform: uppercase;
  max-width: 100%;
}
.leh2 .centre {
  max-width: 1200px;
  position: relative;
  text-align: center;
  margin: 1rem;
}
.leh2 .centre::after, .leh2 .centre::before {
  position: absolute;
  content: "";
  background-color: #1B2430;
  height: 0.1rem;
  top: 0.8rem;
}
.leh2 .centre::after {
  left: 68%;
  right: -1rem;
}
.leh2 .centre::before {
  left: -1rem;
  right: 68%;
}

/* 6 | FOOTER          */
footer {
  background-color: #1B2430;
  max-width: 100%;
}
footer div {
  max-width: 1200px;
  position: relative;
  margin: auto;
}
footer .barrep p {
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 1rem;
  white-space: pre;
  border-top: #FFFFFF solid 0.2rem;
}
footer .resso {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-bottom: 1rem;
}
footer .resso section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
footer .resso h2 {
  color: #FFFFFF;
  margin: 2rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer .resso ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}
footer .resso li {
  list-style: none;
  padding: 1rem 0;
}
footer .resso li a {
  color: #9F9F9F;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer .resso ul::after {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  width: 0.2rem;
  top: 2rem;
  bottom: 1rem;
  left: 38%;
}
footer .resso ul::before {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  width: 0.2rem;
  top: 2rem;
  bottom: 1rem;
  right: 35%;
}

@media screen and (max-width: 975px) {
  header {
    position: relative;
  }
  header nav::after {
    position: absolute;
    content: "";
    background-color: #FFFFFF;
    height: 0.1rem;
    top: 3rem;
    left: 80%;
    right: 4rem;
  }
  header nav ul img {
    padding: 2.5rem 1rem;
  }
  header nav ul:last-of-type {
    display: none;
  }
  main {
    max-width: 100%;
  }
  main .tellurique,
main .gazeuse {
    max-width: 975px;
  }
  main .tellurique .bouton,
main .gazeuse .bouton {
    justify-content: center;
  }
  main .articledroite {
    display: flex;
    max-width: 975px;
    justify-items: center;
  }
  main .articledroite img {
    object-fit: cover;
    object-position: -150px 0;
  }
  main .articlegauche {
    justify-items: center;
  }
  main .articlegauche img {
    object-fit: none;
    object-position: 150px 0;
  }
  main .bouton1, main .bouton2, main .bouton3 {
    padding: 0.5rem 5rem;
  }
  main .titre {
    text-align: center;
  }
  main .leh2 {
    display: none;
  }
  footer div {
    max-width: 975px;
  }
  .resso {
    flex-direction: column;
    align-items: center;
  }
  .resso ul::before {
    display: none;
  }
  .resso ul::after {
    display: none;
  }
  .barrep p {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
