/*  Table des contenu  */
/*                     */
/* 1 | GLOBAL          */
/* 2 | HEADER          */
/* 3 | NAVBAR          */
/* 4 | MAIN            */
/* 5 | ARTICLE         */
/* 6 | FOOTER          */




$Bleufonce: #1B2430;

/* 1 | GLOBAL          */
* {
    margin: 0;
}
body{
    background-color: #F6F6F6;
}

/* 2 | HEADER          */
header {
    /* 3 | NAVBAR          */
    nav {
        max-width: 100%;
        background-color: $Bleufonce;
        
        div{
            display: flex;
            max-width: 1200px;
            justify-content: space-between;
            margin: auto;
            
            li {
                list-style: none;
                
                a{
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    text-decoration: none;
                    color: #FFFFFF;
                    display: block;
                    padding: 2.5rem 1rem;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            ul{
                padding: 0;
                display: flex;
                align-items: center;
            }
        }
    }

    .terre {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}

/* 4 | MAIN            */
main {
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .tellurique,
    .gazeuse {
        margin: auto;
        max-width: 1200px;

    }
    /* 5 | ARTICLE         */
    div .articledroite {
        display: flex;
    
        
        .bouton {
            display: flex;
        }

    }

    .articlegauche {
        display: flex;
        flex-direction: row-reverse;
        .bouton {
            display: flex;
        }
    }
}

article{
    margin: 2rem 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    div{
        max-width: 770px;
        h2{
            padding-bottom: 1rem;
            font-size: 2.5rem;
        }
    }
    .bouton3 {
        box-shadow: 0px 5px 5px rgb(138, 138, 138);
        background-color: #816797;
        color: #FFFFFF;
        border-radius: 10px;
        margin-right: 1rem;
        padding: 1rem 0.75rem;
    }

    .bouton1 {
        box-shadow: 0px 5px 5px rgb(138, 138, 138);
        background-color: #D6D5A8;
        border-radius: 10px;
        margin-right: 1rem;
        padding:  1rem 0.75rem;
    }

    .bouton2 {
        color: #FFFFFF;
        border-radius: 10px;
        background-color: #1B2430;
        padding: 1rem 0.75rem;
        box-shadow: 0px 5px 5px rgb(138, 138, 138);
    }
    img{
        width: 300px;
    }
    .texte{
        text-align: justify;
    }
}

.leh2 {
    margin: auto;
    text-transform: uppercase;
    max-width: 100%;
    .centre {
        max-width: 1200px;
        position: relative;
        text-align: center;
        margin: 1rem;
        &::after, &::before{
            position: absolute;
            content: "";
            background-color: $Bleufonce;
            height: 0.10rem;
            top: 0.8rem;
        }
        &::after{
            left: 68%;
            right: -1rem;
        }
        &::before { 
            left: -1rem; 
            right: 68%;
        }
    }
}
/* 6 | FOOTER          */
footer{
    background-color: $Bleufonce;
    max-width: 100%;
    div{
        max-width: 1200px;
        position: relative;
        margin: auto;
    }
    .barrep{
        p{
            text-align: center;
            color: #FFFFFF;
            padding-bottom: 1rem;
            white-space: pre;
            border-top: #FFFFFF solid 0.20rem;
        }
    }
    .resso{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        padding-bottom: 1rem ;
        section{
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
        h2{
            color: #FFFFFF;
            margin: 2rem 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        ul{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0;
        }
        li{
            list-style: none;
            padding: 1rem 0;
            a{
                color: #9F9F9F;
                text-decoration: none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
        }
        ul::after{
            position: absolute;
            content: "";
            background-color: #FFFFFF;
            width: 0.20rem;
            top: 2rem;
            bottom: 1rem;
            left: 38%;
        }
        ul::before{
            position: absolute;
            content: "";
            background-color: #FFFFFF;
            width: 0.20rem;
            top: 2rem;
            bottom: 1rem;
            right: 35%;
        }
    }
}

/* @media screen and (max-width : 975px) {
    header{
        position: relative;
        nav{
            &::after{
                position: absolute;
                content: "";
                background-color: #FFFFFF;
                height: 0.10rem;
                top: 3rem;
                left: 80%; 
                right: 4rem;

            }
            ul img{
                padding: 2.5rem 1rem;
            }
            ul:last-of-type{
                display: none;

            }
        }
    }
    main{
        max-width: 100%;
        .tellurique,
        .gazeuse {
            max-width: 975px;
            .bouton{
                justify-content: center
            }
        }
        .articledroite{
            display: flex;
            max-width: 975px;
            justify-items: center;
            img{
                object-fit: none;
                object-position: -150px 0;
            }
        }
        .articlegauche{
            justify-items: center;
            img{
                object-fit: none;
                object-position: 150px 0;
            }
        }
        .bouton1, .bouton2, .bouton3{
            padding: 0.5rem 5rem;
        }
        .titre{
            text-align: center;
        }
        .leh2{
            display: none;
        }
    }
    footer{
        div{
            max-width: 975px;
        }
    }
    .resso{
        flex-direction: column;
        align-items: center;
        ul{
            &::before{
                display: none;
            }
            &::after{
                display: none;
            }
        }
    }
    .barrep{
        p{
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
        }
    }
}

 */